.questionFP{
  display:block;
margin-left:10px;
margin-top:0px;
padding: 2px 5px 2px 5px;
text-decoration:none;
font-family:arial;
font-weight:bold;
text-align:center;
background-color: #4eb1ba;
color: white;
font-size:9pt;
border: 3px solid white;
}
body{
  margin: 0 auto;
  width: 50%;
}
h2,
h3,
h4,
h5,
h6{
  font-family: helvetica, sans-serif;
  text-align: center;
}
input {
  border: 5px solid rgba(78, 177, 186, 0.3);
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  text-align: center;

}

textarea {
  border: 5px solid rgba(78, 177, 186, 0.3);
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;
  text-align: center;
  resize: none;
}
#question-container{
  border: 5px solid rgba(78, 177, 186, 0.3);
  -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.1), 0 0 16px rgba(0, 0, 0, 0.1);
  padding: 15px;
  background: rgba(255, 255, 255, 0.5);
  width: 100%;

}
#qpage-title{
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #004343;
}
#qpage-content{
  font-weight: bold;
  background-color: rgba(78, 177, 186, 0.3);
  color: #006666;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  line-height: 175%;
  text-align: justify;
}

#comment-box {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.comment{
  padding: 5px 10px;
  border-bottom: 2px solid rgba(78, 177, 186, 0.3);
  color: #006666;
}

h1 {
  color: #111;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 75px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
}
